[2019-09-16 18:12] deemaalomair1 opened #1 "problem statement uploaded"
I have uploaded the problem statements

[2019-09-16 20:53] smiths commented on #1
Thank you @deemaalomair1 for your problem statement.  This is a good start.  However, I would like a second iteration.  In the new version, please address the following:

- Attention to detail in writing, punctuation, capitalization etc.  To help you with this, please go through my Writing Checklist (https://gitlab.cas.mcmaster.ca/smiths/cas741/blob/master/BlankProjectTemplate/docs/Writing-Checkli

[2019-09-18 18:38] deemaalomair1 commented on #1
Thanks Dr.Smith for your feedback.
I uploaded the new version of the problem statement.

https://github.com/deemaalomair1/CAS741_project/tree/master/problem_statement

[2019-09-18 18:48] smiths commented on #1
Thank you for the link @deemaalomair1.  Very convenient.  :smile:
There are still some grammar issues and lack of attention to detail issues with your problem statement, but the problem you define seems quite appropriate for CAS 741.  Your project is approved.  :smile:

[2019-09-18 18:48] #1 closed, assigned to smiths

[2019-10-06 02:08] deemaalomair1 opened #2 "SRS Document uploaded."
Hello Dr.Smith,

I have uploaded SRS document ( pdf + tex).
I tried my best to explain chemical reaction balancing. I hope it is good.

https://github.com/deemaalomair1/CAS741_project/tree/master/SRS

best regards,

[2019-10-06 02:08] #2 closed, assigned to nobody

[2019-10-06 02:11] deemaalomair1 opened #3 "SRS Document Uploaded."
Hello Dr.Smith,

I have uploaded SRS document(pdf+tex).
I tried my best to explain chemical reaction balancing in the report. I hope its good enough.

https://github.com/deemaalomair1/CAS741_project/tree/master/SRS

[2019-10-06 15:19] smiths commented on #3
@deemaalomair1, thank you for completing this work before the deadline.  I had a quick glance at your work and I noticed two things:

1. Your tex file will not compile for someone else, because you haven't included the required files.  You should reproduce the full structure of the blank project template.  That is there to make your life easier.  :smile:.  You will also need to include any files t

[2019-10-07 16:22] deemaalomair1 commented on #3
Hello Dr.Smith
I have added all needed documents and pictures. I tried to compile it now and it's work for me.
also, I added a type definition for ElementT. ( I am not sure if i wrote it right).

this is the new link :
https://github.com/deemaalomair1/CAS741_project/tree/master/Doc

Best regards,

[2019-10-07 18:24] smiths commented on #3
I had to make two changes so that I could compile your documentation.  I've pushed the new version to your repo in 3753a46.

You did not copy all of the files from the blank template, so you have missed some helpful material.  In particular, you do not have a .gitignore file.  I suggest that you create one, or simply copy the .gitignore file from blank project template.  That will help prevent you

[2019-10-10 16:16] deemaalomair1 commented on #3
hello Dr.Smith

sorry for that, but i miss understanding what you mean by blank project template. i thought it is the latex file for SRS.

I think i added all the files now .. i am not sure if what i have done is right.

thank you

[2019-10-10 17:08] smiths commented on #3
Thank you @deemaalomair1.  Your new folder structure looks correct to me.

[2019-10-11 00:08] deemaalomair1 opened #4 "document review"
Hello everyone,

my document is ready to be reviewed ..

thank you

[2019-10-13 01:07] caobo1994 opened #5 "ToS: Unit of mol/mol"
You use 'mole/mole' as its unit. Why not a simple '1'

[2019-10-15 00:43] deemaalomair1 commented on #5
yes you are right .. i will change it.

thank you Cao

[2019-10-15 14:25] caobo1994 opened #6 "2.1 PoD: Informal language"
This sentence seems too causal for me, and it might not be suitable for this kind of scientific document.

[2019-10-15 14:28] caobo1994 opened #7 "2.3 Characteristics of Intended Reader"
chemical reactions and stoichiometry.

The second sentence is not a full one.

[2019-10-15 14:31] caobo1994 opened #8 "3.1 System Context: Missing SMMP requirements regarding error message"
What happens if the inputs do not? I guess some error messages are necessary for users.

[2019-10-15 14:33] caobo1994 opened #9 "3.1: Grammar error."
stances group.

A small grammar error.

The word 'are' in 'are belong' is not needed.

[2019-10-15 14:36] caobo1994 opened #10 "4.1.1 Terminology and Definitions: Extra 'is'"
A lot of items has a leading 'is' in its contents, and they are unnecessary and grammar-breaking.

[2019-10-15 14:40] caobo1994 opened #11 "GS2: Why only one unknown?"
I remember from the presentation that the reaction is limited to 2 reactants -> 2 reactants ones, but I do not see this constraint in your document. I assume that you have removed it.

In this case, why limit the kind of unknown reactant to one? From what I recall, after you have balanced the reaction, you only have to know one of the reactant to get the amount of others.

[2019-10-15 19:28] caobo1994 opened #12 "T1: Unclear abbreviation R and P"
In T1, you use R and P, but their meanings are unclear.

[2019-10-15 19:32] caobo1994 opened #13 "NF1: Not sure it is non-functional"
Not sure it is non-functional, since providing correct solutions is a essential function of this program.

[2019-10-18 16:23] sharyuwu opened #14 "Missing cite"
@deemaalomair1
It seems like these two brackets should be referred to as reference resources.
![image](https://user-images.githubusercontent.com/55363335/67111111-3fddb080-f1a2-11e9-99ce-c6b7ff2bc318.png)

[2019-10-18 16:34] sharyuwu commented on #14
@deemaalomair1
One more suggestion about the cite.
If you can link Section(...) to the actual section, it can create a complete cross-reference to this document.
You can use /nameref{....} to achieve this goal!

[2019-10-18 16:41] sharyuwu opened #15 "Incomplete figure's information"
@deemaalomair1
I suggest giving the input and output information to this Figure.
It can give readers a quick general outline of the goal of this system.
![image](https://user-images.githubusercontent.com/55363335/67112136-892eff80-f1a4-11e9-97ea-d2ca526ed5dd.png)

[2019-10-18 17:32] sharyuwu opened #16 "Question about the 'User Responsibilities'"
In the user responsibilities section, it said users should take care that consistent units are used for input variables.
Therefore, my understanding is that all the input variables should be in the same units. However, in the earlier section, it does not mention what kind of unit the system needs, so I assume that the system can automatically recognize the input unit. Please correct me if I misund

[2019-10-18 18:56] sharyuwu opened #17 "Suggestion: Enhance the following content"
@deemaalomair1
In the Physical System Description, I felt the explanation of the physical system could be more explicit.
For instance, in "PS1: Reactants mass",  you might like to make a clear statement of which "mass"  you were pointing out because, in figure 2, there were four squares labeled in mass.

![image](https://user-images.githubusercontent.com/55363335/67119906-221a4680-f1b6-11e9-8a15-d

[2019-10-18 19:15] sharyuwu commented on #17
@deemaalomair1

Also maybe you should explain what "an unbalanced chemical reaction with sets of reactants and products" means by describing the contains of reactants and products.
Maybe it has contained a mass, a mole ratio or other elements?
And after you make a clear statement of this, you can also put it into the input of IM1!

![image](https://user-images.githubusercontent.com/55363335/671210

[2019-10-18 21:35] sharyuwu opened #18 "Missing cross-reference"
@deemaalomair1
Missing the cross-reference for Assumption.
Should add the cross-reference telling readers the relationship between the assumption and the Models( theoretical model [T], general definition [GD], data definition  [DD], instance model [IM])

![image](https://user-images.githubusercontent.com/55363335/67129707-5baa7c00-f1cd-11e9-8430-7a326468057b.png)

[2019-10-18 22:43] sharyuwu opened #19 "Confused abbreviations"
@deemaalomair1

The abbreviations of R and P had not explained clearly here.
Is R stand for reactants, reaction or requirement?
In your abbreviation table, you had put R as Requirement, so if the R here did not represent as Requirement, you should change the symbol.

![image](https://user-images.githubusercontent.com/55363335/67132590-3458ac80-f1d7-11e9-8d7f-b225ef9f94c7.png)

![image](https://use

[2019-10-18 23:02] sharyuwu opened #20 "Overlapping definition"
The definition of "m" was confusing to the reader of this document.
I can understand the mean of "m" by reading the following description, but it is all better to keep the definition consist.

I suggest to come up with a new symbol or a new abbreviation for the molecule.

![image](https://user-images.githubusercontent.com/55363335/67133117-74209380-f1d9-11e9-8050-02070c4a00cc.png)

Here is what I

[2019-10-18 23:13] sharyuwu opened #21 "The relationship between models"
@deemaalomair1
Missing the reference from DD2 to DD3.
In the equation of DD3, it was using the definition of DD2.

![image](https://user-images.githubusercontent.com/55363335/67133545-4d635c80-f1db-11e9-89a7-6adda1f44a04.png)

![image](https://user-images.githubusercontent.com/55363335/67133590-826faf00-f1db-11e9-96bd-4ec354960bbb.png)

[2019-10-18 23:36] sharyuwu opened #22 "Question about this equation"
@deemaalomair1
I was confused about the description of the definition of IM1.
Is "Count the atoms of each side of the chemical reaction." means eq1 is one side of the chemical reaction and then eq2 is another side of the chemical reaction?
Please correct me if I misunderstand it.
If I have the right understanding, I suggest defining eq1 and eq2 explicitly in the document.

And also, the statement

[2019-10-18 23:43] sharyuwu opened #23 "Confused reference"
@deemaalomair1
It did not look like IM1 was referred by DD5.

If they do refer to each other, do you mind to explain the relationship between them?

![image](https://user-images.githubusercontent.com/55363335/67134210-11ca9180-f1df-11e9-920b-bf371cdfd5d8.png)

[2019-10-19 00:01] sharyuwu opened #24 "Question abut the input value"
@deemaalomair1
Was molecular weight(mv) an input value?
Based on the document, we can get molecular weight(mv) from the date definition DD4. Therefore, I was wondering that shouldn't the input value be atomic weights and molecule atoms.

@smiths if we could get your opinion on this, I'd appreciate it!

![image](https://user-images.githubusercontent.com/55363335/67134511-8b16b400-f1e0-11e9-9c0e-38a

[2019-10-19 00:03] sharyuwu commented on #18
It should be Table 4 instead of 4

![image](https://user-images.githubusercontent.com/55363335/67134848-4724ae80-f1e2-11e9-8473-9c2667dea0a9.png)

[2019-10-19 18:40] #4 closed, assigned to caobo1994, sharyuwu

[2019-10-19 18:40] #5 closed, assigned to deemaalomair1

[2019-10-19 18:46] deemaalomair1 commented on #6
I took this sentence from Software Requirements Specification for Solar Water
Heating Systems provided by Dr.Smith in Drasil project. I do not think it is causal.

[2019-10-19 18:47] deemaalomair1 commented on #7
yes.. I think I need to rephrase the sentence again.

thank you.

[2019-10-19 18:47] #7 closed, assigned to deemaalomair1

[2019-10-19 18:50] deemaalomair1 commented on #9
yes .. you are right.

[2019-10-19 18:50] #9 closed, assigned to deemaalomair1

[2019-10-19 18:52] deemaalomair1 commented on #11
hello ,

no i did not remove it.. it is in the assumptions part.

so i will have one known reactant mass and one unknown reactant mass.

[2019-10-19 18:53] deemaalomair1 commented on #8
doI need to say that the system will show an error massage in SRS document ?

[2019-10-19 18:55] deemaalomair1 commented on #10
thank you Cao I will check that again.

[2019-10-19 18:55] #10 closed, assigned to deemaalomair1

[2019-10-19 18:56] deemaalomair1 commented on #12
yes I think i need to add them in the abbreviation table or change their symbol because i have R as requirement also.

[2019-10-19 18:56] #12 closed, assigned to deemaalomair1

[2019-10-19 19:01] deemaalomair1 commented on #13
I do not know .. but correctness could be one of non functional requirement also.
it is one of the needed Quilty.

[2019-10-19 19:03] deemaalomair1 commented on #24
yes it is input by the user

[2019-10-19 19:04] deemaalomair1 commented on #24
i just put it's equation as DD because it may be calculated by the program later on.
see likely changes section

[2019-10-19 19:06] deemaalomair1 commented on #23
after balancing the chemical reaction new coefficient will be resulted. these coefficients of reactant 1 ,2  will be used to get the mole ratio by the equation : coefficientofR2 / coefficientofR1

[2019-10-19 19:13] deemaalomair1 commented on #22
the chemical equation is like chemical reaction. i will take this reaction and divide it to two parts one for reactants side , other for products side. then i will apply chemicalEq_atoms count (eq1) for the first side which need to be equal to chemicalEq_atoms count (eq2) product sides. if you feel its confusing i can change the name of them to chemicalEq_atoms count (reactant_side), chemicalEq_at

[2019-10-19 19:14] deemaalomair1 commented on #21
yes you are right.

thank you

[2019-10-19 19:15] #21 closed, assigned to nobody

[2019-10-19 19:16] deemaalomair1 commented on #20
yes you are right .. i will change it

thank you

[2019-10-19 19:16] #20 closed, assigned to nobody

[2019-10-19 19:17] deemaalomair1 commented on #19
yes i will change it and add abbreviation to the product also

thank you

[2019-10-19 19:17] #19 closed, assigned to nobody

[2019-10-19 19:18] deemaalomair1 commented on #15
yes maybe you are right

[2019-10-19 19:18] #15 closed, assigned to nobody

[2019-10-19 19:22] deemaalomair1 commented on #18
yes it should be Table 4

but i did not get your point about cross-referencing of assumption ?

[2019-10-19 19:25] deemaalomair1 commented on #17
yes i could add more details to the physical figure .
for second one , reactant or product are chemical element off course they will have a mass. but mole ratio is different thing i will calculate it my self.

[2019-10-19 19:27] deemaalomair1 commented on #16
i mean the user could not enter molecular weight for first reactant in a unit and molecular weight for second reactant in different unit.. because this will change the result

[2019-10-20 20:21] smiths commented on #3
@deemaalomair1,  you undid the changes that I made to your SRS.tex file.  I had to redo the changes so that it could compile.  The changes are in commit b0be00e.  You should do a git pull before any further edits to the document.  I don't want to fix the document a third time.  :smile:  I also made some other changes, as follows:

- 80 character width for the text in the tex file
- renamed the `.g

[2019-10-20 20:55] caobo1994 commented on #3
@smiths Sorry to bother you, sir, but it just occurs to me. Is it really necessary to observe the 80-character width rule now? Most modern editors can do word wrap and show line numbers, thus display long lines with multiple short lines, while using line numbers to identify them as the same line.

Furthermore, this rule is easily broken when some words are added to a line, and it turns into an 80-

[2019-10-21 12:34] smiths opened #25 "Improve Mathematical Model in SRS"
@deemaalomair1, your SRS only partially follows the mathematical approach that I laid out for you.  I assume that is because you didn't quite understand what I was getting at.  The goal is to build an abstract model of a chemical reaction and then use that model to express specific, unambiguous, requirements.  The model I laid out for you may not have been complete enough for you to see where it w

[2019-10-28 16:23] deemaalomair1 commented on #25
hello Dr.Smiths
 do you mean by chemical Eq T = one side of the reaction? like NA + CL
and reaction T is the full equation? NA + CL = NACL

the type definition will be like this :
ElementT = set of elements = { He, H , ...}
MoleculeT = tuple of (number : N , element : ElementT).
CompoundT =  set of MoleculeT(element1, element2 : MoleculeT).
ChemicalEqT = set of CompoundT ( element1, element2 : Com

[2019-10-28 17:53] deemaalomair1 opened #26 "System verification Plan document review"
Hello everyone,

My document is ready to review.

best regards,

[2019-10-28 18:43] smiths commented on #25
@deemaalomair1,  yes the chemical Eq T is one side of the reaction and the ReactionT is the full equation.

Your type definitions are missing a number that you need.  You have a number with MoleculeT, which you can use for H_2, but you do not have anything that can provide a coefficient, like 2H_2.  I also don't know how to read your notation for CompoundT and Chemical EqT.

[2019-11-01 01:28] Ao99 opened #27 "Page 3 - Input format"
On page 3, in T2 and T3, the test input might need to be more specific.

Is H2O or H2O = 2 a string? Does it need to be typed in manually, or input through a file?
If it needs to be typed, it might be better to write just as "H2O" here.

[2019-11-01 01:41] Ao99 opened #28 "Page 3 - Input tests"
You might need more input tests.

1. For example, testing only -7 might be not enough, what about 0?
2. Before testing the outputs, you might need 3 more tests showing that the software can take valid inputs correctly.
For example, if you get an error in the current T4 - result test, how can you be confident that the software takes all 3 inputs correctly?

[2019-11-01 01:47] Ao99 opened #29 "page 4 - output test"
1. T4: in T1 it is only a number without unit, so here you might want to write "3.10" instead of "3.10 g"

2. You might need to specify again how do you input data - manually input string? or from a file?

3. One reaction per test might be not enough, you might want to test multiple reactions.

[2019-11-01 01:50] Ao99 opened #30 "Page 3, 4, 5 - test names"
It might not be a good way to name your tests T1, T2, ...
What if you need to swap their sequences? What if you want to add one more test after T3? That would mean extra work to change most of the names.
It might be a better way to order them automatically.

[2019-11-01 01:52] Ao99 opened #31 "Page 5 - nonfunctional requirements"
When you have time, you might want to refine the NFR tests and put more details into them, to make them more feasible to be implemented

[2019-11-01 01:53] Ao99 commented on #26
Reviewed, and submitted 5 issues.

[2019-11-01 23:14] smiths commented on #3
Thank you for your question @caobo1994.  I apologize for the delay in replying.  This issue has come up in almost everyone's tex files, so I'm going to at the others on this repo: @sorainsm, @Ao99, @deemaalomair1, @peter-michalski, @best-zhang-zhi and @sharyuwu.

The main reason for fixed width columns (it doesn't have to be 80 characters, it could be any reasonable width, say 90, 100 or even 120

[2019-11-01 23:15] smiths commented on #3
I believe the original issue has been dealt with, so I will close this issue.  If anyone has a follow-up question, it can still be posted here.

[2019-11-01 23:15] #3 closed, assigned to smiths

[2019-11-04 21:14] smiths commented on #6
@deemaalomair1, your text is fine in my opinion.   You are defining the meaning of abstract in this context.  Since no changes will be made as a result of this issue, we can close the issue.

[2019-11-04 21:14] #6 closed, assigned to deemaalomair1

[2019-11-04 21:15] smiths commented on #8
Yes, I think it is a good idea to have a verification requirement.  If the input does not match the expected format or content, then the user should be informed.  The specific text of the error message can wait until the design documentation, but a requirement for supplying an error message makes sense in the SRS.

[2019-11-04 21:16] smiths commented on #11
@deemaalomair1, this requirement will be clearer when you formalize it along the lines we have discussed.

[2019-11-04 22:08] deemaalomair1 commented on #8
i just added it.

[2019-11-04 22:08] #11 closed, assigned to deemaalomair1

[2019-11-04 22:09] #26 closed, assigned to smiths, caobo1994, Ao99

[2019-11-04 22:45] smiths commented on #24
@sharyuwu, I believe that the calculation of molecular weight will be easier to understand when @deemaalomair1 completes her revision of the SRS to make it more formal.  I don't think there is any task left to be done for this issue, so I'll close it.

[2019-11-04 22:45] #24 closed, assigned to nobody

[2019-11-04 22:47] smiths commented on #13
Correctness is something that we want, but @caobo1994 is correct.  Correctness is defined as meeting the requirements.  It is implicit in having an SRS that you want it to be correct.  The corresponding non-functional requirement is accuracy.  How far away from the true solution are you allowed to be and still call the answer correct.

[2019-11-04 22:50] smiths commented on #14
@deemaalomair1, I think it would be good to follow the advice from @sharyuwu.  Please use BibTeX for citations, either showing the number of the citation in square brackets, or using the nat bib style (natural bibliography style).  @sharyuwu, since resolving these two issues involves different steps, when something like this comes up in the future, please create two separate issues.  It is easier

[2019-11-04 22:56] smiths commented on #16
@deemaalomair1, the approach of expecting the user to use consistent units and then relying on the user to interpret the units of the output, is fairly standard in SCS (Scientific Computing Software).  This makes the software more flexible.  Of course, this only works if the calculations are unit agnostic.  If there is a conversion factor, or some dependence on a hard coded constant, then this doe

[2019-11-04 22:56] #16 closed, assigned to nobody

[2019-11-04 22:58] smiths commented on #17
@sharyuwu, I think your confusion will be removed when @deemaalomair1 formalizes the requirements.  Also, as I mentioned elsewhere, try to keep your issues to one "issue."

I suggest that we keep this issue open, and once the SRS has been updated, assign to @sharyuwu to see if the new documentation is more logical.

[2019-11-04 23:03] smiths commented on #18
@sharyuwu, you can probably see why we want one issue per issue.  This conversation is now a mix of the discussion of Table 4 and the discussion of your first point.  @sharyuwu, I'm surprised that you didn't answer the question from @deemaalomair1.  You have a good point, if I understand you correctly, about the assumptions.

@deemaalomair1, what I believe @sharyuwu is getting at is that we docume

[2019-11-04 23:04] smiths commented on #22
I believe that the revisions to the SRS will help with making this clear.

[2019-11-04 23:08] smiths commented on #23
@deemaalomair1, the data definitions shouldn't reference the instance models.  The proper relationship is the other way around.  The IMs use the DDs, not the other way around.  This might be a clue that the classification of your "chunks" (parts of knowledge) need to be revised.

[2019-11-04 23:11] smiths commented on #8
@deemaalomair1, when you close an issue, please include the commit hash that closes the issue.

[2019-11-04 23:13] smiths commented on #21
@deemaalomair1,  you should include the commit hash for the edits that changes the document to address the issue.  That allows a future reader, including yourself, to know what changes were made.  The person creating the issue can review to make sure that their request has been adequately addressed.

[2019-11-05 02:28] sharyuwu commented on #18
@deemaalomair1 sorry about my late reply.
And Thanks @smiths  helps me to answer deema's question.
Yes, what you reply is exactly what I meant.
@deemaalomair1  After adding traceability throughout the document, it is easier for readers to review your document.

[2019-11-06 02:47] deemaalomair1 commented on #14
Accepted and corrected in 173ef90

[2019-11-06 02:47] #14 closed, assigned to deemaalomair1

[2019-11-06 02:54] deemaalomair1 commented on #8
updated in 24f3ad4

[2019-11-06 02:54] #8 closed, assigned to deemaalomair1

[2019-11-06 02:57] deemaalomair1 commented on #13
updated in 53ba5ef

[2019-11-06 02:57] #13 closed, assigned to deemaalomair1

[2019-11-06 03:18] deemaalomair1 commented on #25
i have updated the document and included the mathematical model here:
https://github.com/deemaalomair1/CAS741_project/blob/master/docs/SRS/SRS.pdf
i did not change the traceability matrix yet.. i just want to make sure that my data definitions , instance models are correct first.

[2019-11-08 21:00] smiths commented on #13
@deemaalomair1, the linked commit hash is not related to the text of the nonfunctional requirements.  Did you mean a different commit?

[2019-11-08 21:02] smiths commented on #8
@deemaalomair1, I'm not sure the commit you point to is the one that addresses the issue created by @caobo1994.  You may have meant a different commit?

[2019-11-08 21:03] smiths commented on #14
@deemaalomair1, your commit points to the pdf file that changed.  It is more helpful if you point to the commit that updated the tex file.

[2019-11-08 21:19] smiths commented on #25
This is a good start @deemaalomair1.  It isn't exactly how I'd write it, but it is a big improvement.  After you complete your MIS, we should go back to look over your SRS again, to make sure the two documents are consistent.

We can close this issue now.

[2019-11-08 21:19] #25 closed, assigned to deemaalomair1

[2019-11-11 02:50] deemaalomair1 commented on #27
updated  in commit : https://github.com/deemaalomair1/CAS741_project/commit/4fe6f458f4d28cb0328470efd9c3e97a31671d14

[2019-11-11 02:51] #27 closed, assigned to deemaalomair1

[2019-11-11 03:13] deemaalomair1 commented on #28
i added a test to test the format of each reactant / or product entered by the user in commit :
 https://github.com/deemaalomair1/CAS741_project/commit/7b7f5b4def4088512d31c0f9c2d369e2444dfe21

for testing the mass value range .. when user enter -7 or 0 the error message will show that the value must be greater than 0. also i have test to test the format of entire chemical reaction.

[2019-11-11 03:20] deemaalomair1 commented on #29
updated point 1 in commit: https://github.com/deemaalomair1/CAS741_project/commit/37427dd73dce478ddd67be6f02e48dad7a4b3179
point 2 : I am testing the output here not the input , so i think no matter from where i get the input the output should be correct.
point 3: off course i will try it with multiple reaction .. but this is an example case.

[2019-11-11 03:21] deemaalomair1 commented on #30
you are right 👍 .. i will try to do it.

[2019-11-11 03:21] #30 closed, assigned to deemaalomair1

[2019-11-11 03:42] deemaalomair1 commented on #31
update some in commit :  https://github.com/deemaalomair1/CAS741_project/commit/db9621023cddf1217b65dfd91148ba6bcb967c7b

[2019-11-11 03:42] #31 closed, assigned to deemaalomair1

[2019-11-11 03:42] #28 closed, assigned to deemaalomair1

[2019-11-11 03:42] #29 closed, assigned to deemaalomair1

[2019-11-11 03:47] deemaalomair1 commented on #17
new SRS is available here :

https://github.com/deemaalomair1/CAS741_project/blob/master/docs/SRS/SRS.pdf

[2019-11-16 19:34] sharyuwu opened #32 "The reference"
It is great that you provide a link to readers directly to the GitHub, but it will be even better if you also put a reference that refers to your SRS. Therefore, if the readers print your document out, they can still know where to find your SRS.

![image](https://user-images.githubusercontent.com/55363335/68998254-26518680-087e-11ea-8105-45cafb2365b7.png)

[2019-11-16 19:50] sharyuwu opened #33 "The content of the objectives can be more abstract"
I feel you are up to something good, but it will better if forming the content is a more abstract way.
For instance, state that the object of the document is to build the confidence of the correctness of the software, or enhance the maintainability for the traceability of the potential changes.

![image](https://user-images.githubusercontent.com/55363335/68998346-14bcae80-087f-11ea-86fe-cb6eb05dd6

[2019-11-16 21:17] sharyuwu opened #34 "Separate every point"
The first point of the Implementation Verification Plan has too much detail in it.
Dynamic testing and automatic testing can be separated into two different points. Moreover, leave the unit testing to the UnitVnVPlan does not mix them up together.

![image](https://user-images.githubusercontent.com/55363335/68999237-f6a97b00-088b-11ea-929b-e3c1ec961666.png)

[2019-11-16 21:26] sharyuwu opened #35 "Confused statement"
I suggest making this statement more clear. Will the code walkthrough be carried out by a meeting? What the domain expert and Dr.Smith have to implement before the code walkthrough happens?

![image](https://user-images.githubusercontent.com/55363335/68999392-75eb7e80-088d-11ea-8392-d4c41d8632ee.png)

[2019-11-16 21:54] sharyuwu opened #36 "Question explanation of "control: functional""
Do you mind to explain what you mean by "functional" as the control statement.?

![image](https://user-images.githubusercontent.com/55363335/68999653-62daad80-0891-11ea-8435-b8ae26e583ad.png)

[2019-11-16 22:04] sharyuwu opened #37 "Suggestion need more explanation about the automatic unit testing"
I suggest giving more information about how the automatic unit testing plan to be carried out. Will it be implemented my input a file of data? Will the test cases start from Input = 0, which is the first invalid case?

![image](https://user-images.githubusercontent.com/55363335/68999704-599e1080-0892-11ea-8a27-b178ab736cd1.png)

[2019-11-16 23:57] sharyuwu opened #38 "Missing a figure"
The figure of Models' Relations should be in your SRS as the template arranged.

Your document
![image](https://user-images.githubusercontent.com/55363335/69000761-cb7e5600-08a2-11ea-8eba-1b7279683c17.png)

The missing figure
![image](https://user-images.githubusercontent.com/55363335/69000764-d6d18180-08a2-11ea-9948-9a122f08191b.png)

[2019-11-17 00:10] sharyuwu opened #39 "Suggestion of symbol"
I suggest using $\times$ instead of $X$

![image](https://user-images.githubusercontent.com/55363335/69000936-adb1f080-08a4-11ea-9e24-22908fc02d53.png)

[2019-11-17 00:43] sharyuwu commented on #22
@smiths  Yes, it does make the content more clear. @deemaalomair1 I suggest adding "Daniel M. Homan and Paul A. Strooper. Software Design, Automated Testing, and Main-
tenance: A Practical Approach. International Thomson Computer Press, New York, NY,
USA, 1995. URL http://citeseer.ist.psu.edu/428727.html." in your reference document, so readers can know how this mathematical notation work.

[2019-11-17 00:43] #22 closed, assigned to nobody

[2019-11-18 14:45] smiths commented on #22
@sharyuwu, that is good advice about the H&S reference.  @deemaalomair1, I suggest you do this (when you get back to school.)

[2019-11-20 13:58] smiths opened #40 "Review LaTeX formatting"
The tex file for the System VnV Plan has been reformatted in commit 748ee78.  Please review the diff between for this commit to learn a few things about LaTeX documents.  You can also review the LaTeX writing checklist.  Once the review is complete, you can close this issue.

[2019-11-20 14:37] smiths commented on #26
Comments from my review of the system VnV plan are given in b41045c.

[2019-11-20 14:40] smiths commented on #39
I agree with @sharyuwu.  The use of mathematical mode in LaTeX should go even further than this.  For instance, all of the variables should be in italic font.  For instance, m, and e should be in italics.  From a formatting perspective, it will look better to put everything in an equation environment and use \text{} when something  uses a regular font.

[2019-11-20 14:41] smiths commented on #38
@sharyuwu, it isn't wrong to include this figure, but I think @deemaalomair1 can consider it optional.  I put it in the template for the purpose of teaching the relationship between the chunks of knowledge, not so much as an example of what should be conveyed to the SRS readers.

[2019-11-23 04:24] deemaalomair1 opened #41 "MIS semantic"
hello Dr.Smith ,

I tried to follow the steps you gave me to write my MIS document .. i came up with this new version.

i defined an ADT and i modified the local functions , Access Routine Semantics.

i hope it is the right way to write the MIS. i found it hard because i did not attend the classes last week.

https://github.com/deemaalomair1/CAS741_project/tree/master/docs/Design/MIS

Best regards

[2019-11-23 04:25] #17 closed, assigned to nobody

[2019-11-23 22:46] smiths commented on #41
@deemaalomair1, this is an improvement, but you still need to look over the examples that I sent to you.  You are not following the MIS template.  For instance, when export a type with a ?, that means that it is an ADT, which means it has to be documented in a template module.  I know it can be frustrating, but every word/symbol in the MIS has meaning.

I think ADTs in particular are confusing you

[2019-11-24 20:29] deemaalomair1 commented on #41
Thank you Dr.Smith your comment is really helpful.

i came up with new template module "ReactionT" and i added two methods as illustrated in the picture . but i do not fully understand if you mean that i do not need all the details added in module number 8 "MIS of chemical reaction balancing module" ? or i need two separate modules one for the ReationT and other for all the methods needed to get b

[2019-11-26 18:14] smiths commented on #41
@deemaalomair1, there are many potential designs.  The approach that first comes to my mind is to make the ReactionT an Abstract Data Type.  In this case a reaction will know how to balance itself.  One version of this would be a reaction knows how to create a new balanced reaction from itself.  In the first case the reaction has a mutator, in the second it has an output.  The second approach is m

[2019-11-27 02:48] deemaalomair1 commented on #41
got it.

thank you Dr.Smith

[2019-11-27 02:48] #41 closed, assigned to smiths, deemaalomair1

[2019-11-27 02:54] deemaalomair1 commented on #40
done

[2019-11-27 02:54] #40 closed, assigned to deemaalomair1

[2019-11-27 03:49] deemaalomair1 commented on #39
updated in commit ca1f32593dde685d7f963625d33118c097849f29

[2019-11-27 03:49] #39 closed, assigned to nobody

[2019-11-27 03:50] #38 closed, assigned to nobody

[2019-11-27 03:57] deemaalomair1 commented on #23
has been updated in the new SRS :

https://github.com/deemaalomair1/CAS741_project/tree/master/docs/SRS

[2019-11-27 03:57] #23 closed, assigned to nobody

[2019-11-30 00:30] deemaalomair1 opened #42 "MG/MIS submitted"
MG/MIS have been uploaded and ready to be reviewed.

https://github.com/deemaalomair1/CAS741_project/tree/master/docs/Design

[2019-11-30 01:26] peter-michalski opened #43 "MG 4.2 Unlikely Changes"
Is UC2 definite? I am wondering if this should be under this section, might be good to consider removing it. Will the current goal statement, such as GS2: Get the mass of one unknown reactant, definitely not change? Is it possible that SMMP evolves to get more than the mass of one reactant? Could more goal statements be added if the software evolves?

[2019-11-30 15:14] peter-michalski opened #44 "MG 7.2.2 Atomic Mass Module Wording"
"How to get the atomic mass for each chemical element from the library."

Is this a control algorithm? I think rewording this secret may be a good idea. It is not very clear what the secret is. Perhaps "The control algorithm for getting the atomic mass for..."

[2019-11-30 15:23] peter-michalski opened #45 "MG 7.2.1 Input Module clarity"
"The format and structure of the valid inputs plus the software constraints."

It sounds like a lot is happening here. Modules are supposed to be stand alone and generally not have "and". While you might be able to get away with "format and structure" you also have "plus the software constraints". It sounds like there might be several secrets that could be divided into separate modules. I am also

[2019-11-30 15:45] peter-michalski opened #46 "MIS: 6 MIS of Input Module"
What do the functions input1 and input2 do? The semantics section should clarify this, even if it is simply assigning the values to variables.

[2019-11-30 15:55] peter-michalski opened #47 "MG: 9 Use Hierarchy Between Modules"
The Use Hierarchy Among Modules graph is not clear to me. It looks like Input Module uses ReactionT Module and Mass Calculation Module; however, the MIS of the Input Module(M2) states that the module does not use any other module. It seems like the arrows of the DAG are backwards.

[2019-12-01 04:14] deemaalomair1 commented on #43
i do not think i will change the goal statement of my project let's say at least for the scope of the course. if someone else is interested in this project he can do some additional enhancement and modify the goal statement. right now i prefer to keep it under unchanged

[2019-12-01 04:14] #43 closed, assigned to deemaalomair1

[2019-12-02 03:32] deemaalomair1 commented on #47
Hello peter , you are right. i just edited the graph in the commit 548a938518d6001d0442f8dc2f04c8dbdf27951b

thank you

[2019-12-02 03:32] #47 closed, assigned to deemaalomair1

[2019-12-02 03:57] deemaalomair1 commented on #46
yes i think it's better . updated in commit fa35beb22638b04b93017744cecd75d3e3a23899

thanks peter

[2019-12-02 03:57] #46 closed, assigned to deemaalomair1

[2019-12-02 04:02] deemaalomair1 commented on #45
i just mean one thing here. format of the valid inputs. so i updated the MG to be more clear in commit 9ee7b93ec54ab5ebc2c1d269488cca71d8818b80

thank you

[2019-12-02 04:02] #45 closed, assigned to deemaalomair1

[2019-12-02 04:06] deemaalomair1 commented on #44
updated in commit ca969c37a49e99100617dd56e4db197e24173452.
thanks

[2019-12-02 04:06] #44 closed, assigned to deemaalomair1

[2019-12-02 04:11] deemaalomair1 commented on #32
my SRS is only available at GitHub .. so it's the only source i can provide

[2019-12-02 04:19] deemaalomair1 commented on #33
updated in commit 5b2c5cd9975b4a913ea791f21e7e02c97310ae81

thanks

[2019-12-02 04:19] #33 closed, assigned to nobody

[2019-12-02 14:48] smiths commented on #32
@deemaalomair1, I believe that @sharyuwu was referring to creating a BibTeX entry for your SRS.  You can then cite it and it will appear in your list of References.  The citation can still include a URL, but it will be printed, as well as hyper-linked.

[2019-12-05 21:04] smiths commented on #42
Comments on MG are available in 831db47.

[2019-12-05 21:09] smiths commented on #42
I pushed one more commit (e037845) related to beginning the process of fixing the reference list for the MG document.

[2019-12-06 15:09] smiths commented on #42
Comments on MIS available in 9d25631.

[2019-12-13 03:04] deemaalomair1 opened #48 "function to implement"
hello ,

i would like you to give a try in implementing Balance_reaction function. assume that the entered reaction is not balanced and need to be balanced by the program. if you could try this in python is better because i am using python to implement the project.

[2019-12-13 16:07] sharyuwu commented on #48
Okay.
I will try my best to make it happened

[2019-12-19 19:57] smiths commented on #48
@sharyuwu, are you going to try to implement the module?  If you try, even if you don't finish, I can give you some marks for the effort.

[2019-12-19 20:00] sharyuwu commented on #48
Thank you for asking.
I plan to try it. But it hasn't happened yet.
Most likely it will happen today.

[2019-12-20 00:20] sharyuwu opened #49 "Question About MIS: MIS of ReactionT Module"
HI @deemaalomair1
Do you mind to explain the transition for the Balanced-Reaction in MIS of ReactionT Module?

I see you have lots of local functions in this module but none of them is being used by Balanced-Reaction.
What do you mean by Reaction := Reaction*.
What is the  Reaction* here come from?
Is the Reaction denotes the state variable?
Maybe you have not updated the latest version of your do

[2019-12-20 00:27] sharyuwu commented on #48
Posted the progress of the implementation.

I have some questions regarding the secret behind this function.
I feel the MIS document has not fully exposed the secret.
I have posted the issue in https://github.com/deemaalomair1/CAS741project/issues/49

[2019-12-20 04:19] deemaalomair1 commented on #18
update cross reference in commit 0095ee5d3d77f06fe5a2ecb647da71ec864e422e

[2019-12-20 04:19] #18 closed, assigned to nobody

[2019-12-20 04:21] deemaalomair1 commented on #49
actually i just finished doing this module of the implementation.. i do not know if you still need to implement it or not ? @sharyuwu @smiths

[2019-12-20 05:11] sharyuwu commented on #49
oh! I am sorry that I didn't follow your pace.
Congratulation on finishing this module!
Is there any module you have not done yet, and I can help you with it?

[2019-12-20 14:15] smiths commented on #49
@sharyuwu, you don't need to worry if the module has already been implemented.  The other student pairs have both implemented the same modules.  It has been an interesting exercise to compare the two versions.

[2019-12-21 04:35] deemaalomair1 commented on #42
MG updated in commit f3bfc726e4cbe3a73e696373cc63103cd0005704
MIS updated in commit 7f27fe5fec88064f5488e5f63a14cbc8ca186820

[2019-12-21 04:35] #42 closed, assigned to smiths, peter-michalski, sharyuwu

[2019-12-21 04:37] deemaalomair1 commented on #49
i have updated MIS and added more information about Reaction* , you can look up now and if you still do not feel comfortable you can ask again
i will keep this issue open and i will close issue #48

[2019-12-21 04:38] #48 closed, assigned to sharyuwu

[2019-12-21 19:52] sharyuwu commented on #49
I am sorry there is still some part that I don't quite get it.
If MIS of ReactionT Module is an ADT file, for a suggestion the Module name is better to be MIS of ReactionT ADT Module.
So readers can know this module will create a new kind of data type.

[2019-12-21 19:59] sharyuwu commented on #49
![image](https://user-images.githubusercontent.com/55363335/71313090-e132ee00-2401-11ea-9d20-9eb3f6d6cc11.png)
I see you have some explanation regarding to Reaction*.
However, I think there should be more information in Reaction* := Reaction
1. which side is the reaction side and which side is the product side.
2. how to calculate the appropriate coefficient?
You did explain what is this appropria

[2019-12-23 04:40] deemaalomair1 commented on #32
updated in commit 1d2aed1d3cdf36b201f6886def2be413e44b0f3a

[2019-12-23 04:40] #32 closed, assigned to nobody

[2019-12-23 04:43] deemaalomair1 commented on #34
updated in commit 533f70f9bfe0c4c786f4012a2dfcca5457f9a116

[2019-12-23 04:43] #34 closed, assigned to nobody

[2019-12-23 04:46] deemaalomair1 commented on #35
i thought about it again. i think i was misunderstand what walkthrough is.

i decided not to include it in my testing anymore and i remove it from the list.

[2019-12-23 04:46] #35 closed, assigned to nobody

[2019-12-23 04:47] deemaalomair1 commented on #36
i mean it's type of functional testing " function or method implemented in the system that need to be tested."

[2019-12-23 04:47] #36 closed, assigned to nobody

[2019-12-23 05:36] deemaalomair1 commented on #37
i have change it in commit 747798ff32c46b230fb5622395682b7d0c3d17a6

[2019-12-23 05:36] #37 closed, assigned to nobody

[2019-12-26 20:09] deemaalomair1 commented on #49
1. Reaction* and Reaction both of them are full chemical reaction , Reaction* after balancing , where Reaction before balancing.
2. how to get coefficient is the secret that i was not know how to calculate it when writing MIS document. ( this is the main idea of how to balance ) after implementing the system i got a way to get coefficients.
they could be calculated in different way depending on de

[2019-12-27 01:09] sharyuwu commented on #49
----
1. Reaction* and Reaction both of them are full chemical reaction , Reaction* after balancing , where Reaction before balancing.

If this is the cases then I think the better approach will be
Reaction = how to balance the reaction.
Because transition means that you are going to store some values in the state variables, my best guess is that you want to store the values that have been rebalanc

[2020-01-13 17:52] #49 closed, assigned to deemaalomair1